

h1{
    color: red;
}


.item_price{
    background-color: blue;
    color: orange;
    margin-top: 100px;
}

.description{
    font-size: 50px;
}

.hello{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px green;
}